@font-face {
  font-family: 'Sansation';
  src: url('../fonts/Sansation_Light.ttf');
}

@font-face {
  font-family: 'Josefin Sans';
  src: url('../fonts/JosefinSans-Light.ttf');
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Light.ttf');
}

@keyframes slide {
    from {
        transform: translateX(0)
    }
    to {
        transform: translateX(-100%)
    }
}

:root {
  --slideshow_height: 300px;
  --slideshow_duration_factor: 20000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("/static/images/texture.png");
}

h3 {
    margin-bottom: 16px;
    border-bottom: solid 1px #ccc
}

h4 {
    color: #b24d40;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50vmin;
    background-image: url('../images/header.jpg');
    background-size: cover;
}

.logo {
    margin: 4px 0px;
    font-size: 1.5rem;
    font-family: 'Sansation', Arial, sans-serif;
    color: #e0bf5c;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.nav-bar {
    margin: 4px 0px;
    max-width: 800px;
    width: 100%;
}

.nav-list {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-item > a {
    display: block;
    margin: 16px;
    color: #fff;
    text-decoration: none;
    font-family: 'Josefin Sans', Arial, sans-serif;
    font-size: 1.25rem;
}

.nav-drop-down-list {
    display: block;
    position: absolute;
    top: 90%;
    width: 100%;
    background-color: rgba(30, 30, 30, 0.5);
    list-style: none;
    padding: 0;
    margin: 0;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s ease;
}

.nav-drop-down-list li:not(:last-child) {
    border-bottom: 1px solid rgba(190, 190, 190, 0.5);
}

.nav-item:hover .nav-drop-down-list {
    visibility: visible;
    opacity: 1;
}

.nav-underline {
    background-color: rgba(190, 190, 190, 0.5);
    width: 0;
    height: 1px;
    display: block;
    position: relative;
    bottom: 10%;
    transition: width 0.2s ease;
}

.nav-item:hover > .nav-underline {
    width: 100%
}

.nav-drop-down-item {
    width: 100%;
}

.nav-drop-down-item > a {
    display: block;
    color: #fff;
    text-decoration: none;
    width: 100%;
    height: 100%;
    padding: 8px;
}

.nav-drop-down-item:hover > a {
    color: #e0bf5c;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-header {
    width: 100%;
    min-height: 300px;
    background-color: #fafafa;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-header-container {
    max-width: 1000px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.content-header-item {
    padding: 32px;
    font-family: 'Open Sans', Helvetica, sans-serif;
    letter-spacing: 1px;
    color: #373737;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1 1 33.33%;
}

.content-header-item > *:not(:last-child) {
    margin-bottom: 16px;
}

.content-header-item > h2 {
    font-size: 25px;
    font-weight: 300;
}

.content-header-item > a {
    text-decoration: none;
    background-color: #A84A42;
    color: #fff;
    padding: 8px 16px;
    align-self: flex-start;
    font-weight: 600;
}

.content-header-item > a:hover {
    background-color: #76342e;
}

.content-header-item > img {
    box-shadow: 1px 1px 6px rgba(30, 30, 30, 0.5);
    border-radius: 16px;
    border: 1px solid #555;
    max-width: 100%;
    max-height: 360px;
}

.content-body {
    max-width: 1000px;
    width: 100%;
}

.content-body a, .null-link {
    color: #b24d40;
    border-bottom: 1px solid #deb7b2;
    text-decoration: none;
}

.content-section {
    padding: 32px 32px;
    color: #111;
    font-family: 'Open Sans', Helvetica, sans-serif;
    line-height: 180%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-section > *:not(:last-child) {
    margin-bottom: 16px;
}

.content-section-spacer {
    display: block;
    width: 100%;
    height: 1px;
    background-color: rgba(190, 190, 190, 0.5);
}

.content-grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(360px, 1fr));
    grid-gap: 16px;
    background-color: #fafafa;
    padding: 16px;
    box-shadow: 0 0 5px rgba(200, 200, 200, 0.5);
}

.content-grid-item {
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 16px;
    border: 1px dashed rgba(30, 30, 30, 0.2);
    color: #333;
    background-color: #f6f6f6;
}

.content-grid-item > *:not(:last-child) {
    margin-bottom: 16px;
}

.h3-title {
    font-size: 1.5rem;
    border-bottom: 1px solid #aaa;
    padding: 0 8px;
    text-align: center;
}

.content-image {
    max-width: 360px;
    max-height: 360px;
    box-shadow: 1px 1px 7px rgba(30, 30, 30, 0.2);
    border-radius: 16px;
    border: 1px solid #333;
}

.content-image-big {
    max-width: 500px;
    max-height: 500px;
}

.content-grid-three {
    grid-template-columns: repeat(3, minmax(360px, 1fr));
}

.content-grid-item-three-wide {
    grid-column: 1 / span 3;
}

.content-grid-item-three {
    grid-column: auto / span 1;
}

.content-grid-item-row-container {
    display: flex;
    text-align: left;
    align-items: center;
}

.content-grid-item-row-container > *:not(:last-child) {
    margin-right: 16px;
}

.content-grid-item-row-container > .content-image {
    margin-bottom: 0;
}

.about-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid #eee;
    padding: 32px;
    border-radius: 16px;
    backdrop-filter: blur(1px);
}

.about-container > *:not(:last-child) {
    margin-bottom: 16px;
}

.about-container img {
    width: 300px;
    height: 100%;
    box-shadow: 1px 1px 4px rgba(30, 30, 30, 0.5);
    border-radius: 16px;
    border: 1px solid #555;
    margin-right: 30px;
}

.about-subcontainer {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.paragraph-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 100%;
    flex: 1 1 33.33%;
}

.paragraph-container *:not(:last-child) {
    margin-bottom: 16px;
}

.paragraph-container > *:last-child {
    margin-bottom: 0;
}

.paragraph-container > p > a {
    display: inline-block;
}

.paragraph-container li {
    margin-left: 16px;
}

.paragraph-container li:not(:last-child) {
    margin-bottom: 8px;
}

.paragraph-container img {
    max-width: 100%;
    width: 100%;
    height: auto;
}

.contact-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.contact-form {
    max-width: 400px;
    display: flex;
    flex-direction: column;
}

.name-container {
    display: flex;
    justify-content: space-between;
}

.form-field {
    margin-bottom: 16px;
}

.form-field > textarea {
    height: 100px;
    resize: none;
}

.name-container > .form-field {
    width: 45%;
}

.contact-form label {
    display: block;
    margin-bottom: 8px;
}

.contact-form input, .contact-form textarea {
    display: block;
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

.contact-form > button {
    width: 100px;
    padding: 8px 10px;
    font-size: 16px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.contact-form > button:hover {
  background-color: #45a049;
}

.contact-container img {
    box-shadow: 1px 1px 4px rgba(30, 30, 30, 0.5);
    border-radius: 16px;
    border: 1px solid #555;
    height: 400px;
}

.slideshow-container {
    overflow: hidden;
    white-space: nowrap;
    height: var(--slideshow_height);
    display: flex;
    align-items: center;
}

.slideshow-container:before, .slideshow-container:after {
    position: absolute;
    width: 250px;
    height: var(--slideshow_height);
    content: '';
    z-index: 2;
}

.slideshow-container:before {
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}

.slideshow-container:after {
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}

.slideshow-list {
    list-style-type: none;
    animation: 20s slide infinite linear;
    display: inline-block;
}

.slideshow-list-item {
    display: inline-block;
}

.slideshow-list-item > img {
    height: 200px;
    margin: 0 16px;
}

.content-container {
    background-image: url("/static/images/texture_diagonal.png");
    background-color: #fafafa;
    padding: 32px;
    box-shadow: 0 0 5px rgba(200, 200, 200, 0.5);
    max-width: 100%;
    display: flex;
    flex-direction: column;
}

.content-container > *:not(:last-child) {
    margin-bottom: 16px;
}

.content-section-row {
    display: flex;
    align-items: flex-start;
    background-color: #f6f6f6;
    padding: 32px;
    border: 1px solid #f0f0f0;
    box-shadow: 1px 1px 4px rgba(50, 50, 50, 0.1);
}

.content-section-row > *:not(:last-child) {
    margin-right: 32px;
}

.content-image-container {
    min-width: 360px;
    min-height: 360px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.page-nav-row {
    margin-top: 16px;
}

a.page-button {
    text-decoration: none;
    background-color: #A84A42;
    color: #fff;
    padding: 8px 16px;
    align-self: flex-start;
    font-weight: 600;
}

a.page-button:hover {
    background-color: #76342e;
}

.content-section .section-title {
    margin-bottom: 32px;
}

.footer {
    width: 100%;
    padding: 32px 32px;
    background-color: #242424;
    color: #aaa;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.admin-btn {
    display: flex;
    position: fixed;
    top: 5px;
    left: 5px;
    background-color: #aaa;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0.05;
    transition: opacity 0.2s ease;
    z-index: 99;
}

.admin-btn > a {
    text-decoration: none;
    color: #333;
    padding: 8px 16px;
}

.admin-btn:hover {
    opacity: 0.8;
}