@font-face {
  font-family: 'Sansation';
  src: url('../fonts/Sansation_Light.ttf');
}

@font-face {
  font-family: 'Josefin Sans';
  src: url('../fonts/JosefinSans-Light.ttf');
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Light.ttf');
}

* {
    margin: 0;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50vmin;
    background-image: url('../images/header.jpg');
    background-size: cover;
}

.logo {
    margin: 5px 0px;
    font-size: 1.5rem;
    font-family: 'Sansation', Arial, sans-serif;
    color: #e0bf5c;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.nav-bar {
    margin: 5px 0px;
    max-width: 800px;
    width: 100%;
}

.nav-list {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-item > a {
    display: block;
    margin: 15px;
    color: #fff;
    text-decoration: none;
    font-family: 'Josefin Sans', Arial, sans-serif;
    font-size: 1.25rem;
}

.nav-drop-down-list {
    display: block;
    position: absolute;
    top: 90%;
    width: 100%;
    background-color: rgba(30, 30, 30, 0.5);
    list-style: none;
    padding: 0;
    margin: 0;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s ease;
}

.nav-drop-down-list li:not(:last-child) {
    border-bottom: 1px solid rgba(190, 190, 190, 0.5);
}

.nav-item:hover .nav-drop-down-list {
    visibility: visible;
    opacity: 1;
}

.nav-underline {
    background-color: rgba(190, 190, 190, 0.5);
    width: 0;
    height: 1px;
    display: block;
    position: relative;
    bottom: 10%;
    transition: width 0.2s ease;
}

.nav-item:hover > .nav-underline {
    width: 100%
}

.nav-drop-down-item {
    width: 100%;
}

.nav-drop-down-item > a {
    display: block;
    color: #fff;
    text-decoration: none;
    width: 100%;
    height: 100%;
    padding: 10px;
}

.nav-drop-down-item:hover > a {
    color: #e0bf5c;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-header {
    width: 100%;
    min-height: 350px;
    background-color: #eee;
    display: flex;
    justify-content: center;
}

.content-header-container {
    max-width: 1000px;
    width: 100%;
    display: flex;
}

.content-header-item {
    padding: 25px;
    font-family: 'Open Sans', Helvetica, sans-serif;
    letter-spacing: 1px;
    color: #373737;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content-header-item > *:not(:last-child) {
    margin-bottom: 20px;
}

.content-header-item > h2 {
    font-size: 25px;
    font-weight: 300;
}

.content-header-item > a {
    text-decoration: none;
    background-color: #A84A42;
    color: #fff;
    padding: 10px 20px;
    align-self: flex-start;
    font-weight: 600;
}

.content-header-item > img {
    box-shadow: 1px 1px 7px rgba(30, 30, 30, 0.5);
    border-radius: 10px;
}

.content-body {
    max-width: 1000px;
    width: 100%;
}

.content-body a {
    color: #b24d40;
    border-bottom: 1px solid #deb7b2;
    text-decoration: none;
}

.content-section {
    padding: 40px 20px;
    color: #111;
    font-family: 'Open Sans', Helvetica, sans-serif;
    line-height: 180%;
}

.content-section > *:not(:last-child) {
    margin-bottom: 20px;
}

.content-section-spacer {
    display: block;
    width: 100%;
    height: 1px;
    background-color: rgba(190, 190, 190, 0.5);
}

.content-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
}

.content-grid-item {
    background-color: #f5f5f5;
    padding: 10px;
    border-radius: 5px;
}

.footer {
    width: 100%;
    padding: 40px 0;
    background-color: #242424;
    color: #aaa;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.admin-btn {
    display: flex;
    position: fixed;
    top: 5px;
    left: 5px;
    background-color: #aaa;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0.05;
    transition: opacity 0.2s ease;
    z-index: 99;
}

.admin-btn > a {
    text-decoration: none;
    color: #333;
    padding: 8px 16px;
}

.admin-btn:hover {
    opacity: 0.8;
}