@font-face {
  font-family: 'Sansation';
  src: url('../fonts/Sansation_Light.ttf');
}

@font-face {
  font-family: 'Josefin Sans';
  src: url('../fonts/JosefinSans-Light.ttf');
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Light.ttf');
}

* {
    margin: 0;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50vmin;
    background-image: url('../images/bg_blurred.jpg');
    background-size: cover;
}

.logo {
    margin: 5px 0px;
    font-size: 1.5rem;
    font-family: 'Sansation', Arial, sans-serif;
    color: #e0bf5c;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.nav-bar {
    margin: 5px 0px;
    max-width: 800px;
    width: 100%;
}

.nav-list {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-item > a {
    display: block;
    margin: 15px;
    color: #fff;
    text-decoration: none;
    font-family: 'Josefin Sans', Arial, sans-serif;
    font-size: 1.25rem;
}

.nav-drop-down-list {
    display: block;
    position: absolute;
    top: 90%;
    width: 100%;
    background-color: rgba(30, 30, 30, 0.5);
    list-style: none;
    padding: 0;
    margin: 0;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s ease;
}

.nav-drop-down-list li:not(:last-child) {
    border-bottom: 1px solid rgba(200, 180, 190, 0.5);
}

.nav-item:hover .nav-drop-down-list {
    visibility: visible;
    opacity: 1;
}

.nav-underline {
    background-color: rgba(200, 180, 190, 0.5);
    width: 0;
    height: 1px;
    display: block;
    position: relative;
    bottom: 10%;
    transition: width 0.2s ease;
}

.nav-item:hover > .nav-underline {
    width: 100%
}

.nav-drop-down-item {
    width: 100%;
}

.nav-drop-down-item > a {
    display: block;
    color: #fff;
    text-decoration: none;
    width: 100%;
    height: 100%;
    padding: 10px;
}

.nav-drop-down-item:hover > a {
    color: #e0bf5c;
}

.content-header {
    width: 100%;
    background-color: #eee;
    display: flex;
    justify-content: center;
}

.content-header-container {
    max-width: 1000px;
    width: 100%;
    display: flex;
}

.content-header-item {
    padding: 25px;
    font-family: 'Open Sans', Helvetica, sans-serif;
    letter-spacing: 1px;
    color: #373737;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content-header-item > * {
    margin-bottom: 20px;
}

.content-header-item > h2 {
    font-size: 25px;
    font-weight: 300;
}

.content-header-item > a {
    text-decoration: none;
    background-color: #A84A42;
    color: #fff;
    padding: 10px 20px;
    align-self: flex-start;
    font-weight: 600;
}

.footer {
    width: 100%;
    padding: 40px 0;
    background-color: #242424;
    color: #aaa;
    display: flex;
    flex-direction: column;
    align-items: center;
}