{% extends 'base.html' %}
{% block title %}Contact | Editor Melinda{% endblock %}
{% block stylesheets %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/contact.css') }}">
{% endblock %}
{% block content %}
    <div class="content-section">
        <div class="content-container">
            <div class="contact-page">
                <div class="contact-content">
                    <div class="contact-text">
                        <h3>Contact Editor Melinda</h3>
                        <div class="contact-link">
                            <a href="https://www.linkedin.com/in/melinda-wedgewood-22314867" target="_blank" rel="noopener noreferrer">Visit Melinda's LinkedIn</a>
                        </div>
                    </div>
                    <div class="contact-image">
                        <img src="/static/images/melinda2.jpg">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}