{% extends 'base.html' %}

{% block title %}Nigerian Dwarf Goats | Editor Melinda{% endblock %}
{% block stylesheets %}
    {{ super() }}
    <style>
        #goats {
            filter: drop-shadow(0px 0px 2px #ddd);
        }
    </style>
{% endblock %}

{% block content %}
    <div class="content-header">
        <div class="content-header-container">
            <div class="content-header-item">
                <img src="/static/images/goats.jpg">
            </div>
        </div>
    </div>
    <div class="content-body">
        <div class="content-section">
            <h3 class="h3-title">Goat Mountain View Nigerian Dwarf Goats in Poulsbo, Washington</h3>
            <div class="content-container">
                <div class="content-section-row">
                    <img src="/static/images/sandy_pygoras.jpg" class="content-image content-image-big">
                    <div class="paragraph-container">
                        <p>
                            I've been raising miniature goats for over a decade. I started with Pygoras in 2004.
                            I love their fleeces and learned to hand spin their fiber.
                        </p>
                        <p>
                            But, the goats that really stole my heart were the Nigerian Dwarf goats. I prefer the well-mannered
                            temperament of the dairy goats. I also appreciate that dairy breeders are often very selective in
                            which animals they choose to breed for their lines. Good conformation and adherence to breed
                            standard are important to me.
                        </p>
                    </div>
                </div>
                <div class="content-section-row">
                    <div class="paragraph-container">
                        <p>
                            I keep a small herd of Nigerians on our five-acre farm in  Poulsbo, Washington. I occasionally
                            have goats for adoption as I breed a couple does a year for milk production. Our livestock are
                            our pets as well as producers, and they also play an important role in our homeschool education.
                        </p>
                    </div>
                    <img src="/static/images/limerick_and_babies.jpg" class="content-image">
                </div>
                <div class="content-section-row">
                    <div class="paragraph-container">
                        <img src="/static/images/spike.jpg" class="content-image">
                        <p>
                            Melinda Wedgewood with Pygora buck named Spike at the Bold and Beautiful Buck Show in Albany, Oregon.
                        </p>
                    </div>
                    <div class="paragraph-container">
                        <img src="/static/images/cassie.jpg" class="content-image">
                        <p>
                            Melinda Wedgewood with son and guard llama Cassie at Goat Mountain View farm in Sandy, Oregon.
                        </p>
                    </div>
                    <div class="paragraph-container">
                        <img src="/static/images/sage.jpg" class="content-image">
                        <p>
                            Melinda Wedgewood with champion Pygora wether named Sage at the Oregon Flock and Fiber Festival at the Clackamas County Fairgrounds.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <span class="content-section-spacer"></span>
        <div class="content-section">
            <div class="content-section-row">
                <div class="paragraph-container" style="align-items: center;">
                    <img src="/static/images/ags.png" class="content-image" style="margin-bottom: 20px;">
                    <p>
                        Member since 2006
                    </p>
                </div>
                <div class="paragraph-container" style="align-items: center;">
                    <img src="/static/images/adga.png" class="content-image" style="margin-bottom: 20px;">
                    <p>
                        Member of ADGA since 2007
                    </p>
                </div>
                <div class="paragraph-container" style="align-items: center;">
                    <img src="/static/images/andda.jpg" class="content-image" style="margin-bottom: 20px;">
                </div>
            </div>
            <div class="content-section-row page-nav-row">
                <a href="/goats/does" class="page-button">Does</a>
                <a href="/goats/adoptions" class="page-button">Adoptions</a>
                <a href="/goats/foundation" class="page-button">Foundation</a>
            </div>
        </div>
    </div>
{% endblock %}