{% extends 'base.html' %}

{% block title %}Editor Melinda - Copyediting and Nigerian Dwarf Goats in Washington{% endblock %}
{% block stylesheets %}
    {{ super() }}
    <style>
        #copyediting {
            filter: drop-shadow(0px 0px 2px #ddd);
        }
    </style>
{% endblock %}

{% block content %}
    <div class="content-header">
        <div class="content-header-container">
            <div class="content-header-item">
                <h2>Freelance Copyediting Services</h2>
                <p>I endeavor to let your words shine. I will ensure clarity, correctness, coherency, and consistency in your text.</p>
                <p>I realize your time is very important. You can depend on me to be punctual, so you meet your deadline. </p>
                <a href="/portfolio" class="content-header-button">PORTFOLIO</a>
            </div>
            <div class="content-header-item">
                <img src="/static/images/style_guides.jpg">
            </div>
        </div>
    </div>
    <div class="content-body">
        <div class="content-section">
            <div class="about-container">
                <h3>Editor Melinda</h3>
                <div class="about-subcontainer">
                    <img src="/static/images/melinda.jpg">
                    <div class="paragraph-container">
                        <p>
                            I provide freelance copyediting services. My goal is to build long-term working relationships with
                            authors. I enjoy preserving an author’s voice while cleaning up their text of all those little things
                            that are so easily missed when they read their own work. I am a member of the American Copy Editors
                            Society and have certificates in copyediting from the following: University of California, San Diego;
                            University of New Hampshire; and Poynter News University. My specialty is working with ESL authors in
                            the genres of science, technology, and medicine.
                        </p>
                        <p>
                            My skills are diverse. I have a rich technical background from working in the following fields:
                            cartography, geology, geographic information systems (GIS), veterinary technology, and computer science.
                            I have broad experience, working for small private firms such as Kawasaki, Theilacker, Ueno and
                            Associates to corporate giants like Southern California Edison, as well as being sole proprietor of my
                            own business. Working in a digital environment has always been easy for me, starting with my first
                            programming job for Conco Engineering in 1982 through my position as Web Technology Engineer for OakTree
                            Digital in 2001.
                        </p>
                    </div>
                </div>
                <p>
                    My passion is communication. I love both the written word as well as visual communication, namely
                    mapmaking. My favorite job was working for ESRI in Redlands, California, as the Desktop Course Manager,
                    Knowledge Base Manager, and Instructor.  I was the managing editor as well. I managed the update of GIS
                    course textbooks as the field of GIS and our user base evolved. My greatest achievement was writing
                    Advanced ArcView GIS. I saw a need for a more advanced course in our line of desktop training. I also
                    felt we needed to drastically change how we formatted and delivered our courses. My production schedule
                    from outline to press was nine months. I met my deadline gracefully while still teaching, managing
                    instructors, and continually updating my text as the ArcView GIS software was being developed
                    concurrently.
                </p>
                <p>Melinda Wedgewood</p>
            </div>
        </div>
    </div>
{% endblock %}