{% extends 'base.html' %}

{% block title %}Handcrafted Soap | Editor Melinda{% endblock %}
{% block stylesheets %}
    {{ super() }}
    <style>
        #soap {
            filter: drop-shadow(0px 0px 2px #ddd);
        }
    </style>
{% endblock %}

{% block content %}
    <div class="content-header">
        <div class="content-header-container">
            <div class="content-header-item">
                <img src="/static/images/soap.jpg">
            </div>
        </div>
    </div>
    <div class="content-body">
        <div class="content-section">
            <p>
                Welcome to <b>Goat Mountain View Soap</b>. I make small batches of high-quality soap using simple ingredients: goat milk, tallow,
                coconut oil, and olive oil. To create variety, I mix things up with essential oils, clays, botanicals,
                phthalate-free fragrances, and natural colorants (mineral oxides and mica). What makes Edit Soap special is
                the use of 9% butterfat milk from our Nigerian Dwarf dairy goats. Goat milk contains many compounds that are
                so good for your skin, such as alpha hydroxyl acids, essential fatty acids, triglycerides, vitamins A, B, C,
                D, and E, antioxidants, and selenium.
            </p>
            <p>
                Goat Mountain View Soap can be found at <a href="https://www.nordiskashop.com" target="_blank"><b>Nordiska</b></a> gift shop and <a href="https://www.facebook.com/AWWBookshop/" target="_blank"><b>Away with Words</b></a> bookshop on
                Front Street in Poulsbo. I also sell my soap through this website for $10/bar. (The names of the soaps are
                based on the fragrance used; check <a href="http://brambleberry.com/" target="_blank">BrambleBerry</a> for descriptions of
                the scents.) Please email me at <a href="mailto:editormelinda@outlook.com">editormelinda@outlook.com</a> to
                order. You can pick up at the farm, or I can deliver via my cargo bike for $5 within the City of Poulsbo.
            </p>
        </div>
        <span class="content-section-spacer"></span>
        <div class="content-section">
            <div class="content-grid">
                {% for soap in soaps %}
                    <div class="content-grid-item">
                        <img src="/static/images/uploads/{{ soap.image.path }}" class="content-image">
                        <h3 class="h3-title">{{ soap.name }}</h3>
                        <p>INGREDIENTS: {{ soap.ingredients }}</p>
                        <p>Net wt. approx. {{ soap.weight }} ounces</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}